<div class="d-flex" >
    <div class="row container-fluid ">
    <div class="col-12">
        <div class="d-flex ">
            <article class="iniciomision" style="width:80%; ">
                <h3>Nuestra Misión</h3>

                <p style="text-align: justify;">
                    Ser proveedores de soluciones ágiles de tecnología, capaces de cubrir las necesidades de negocio de
                    nuestros
                    clientes y aliados, apostando a la transformación digital, garantizando la entrega y gestión
                    oportuna,
                    responsable,
                    innovadora y ágil. Estamos respaldados por la calidad como elemento para potenciar la eficacia y
                    eficiencia
                    de
                    nuestros clientes.</p>

            </article>
            <img class="centrar m-0 p-0 m-auto" src="..\assets\Misin---vision---valores-removebg-preview.png"
               width="30%" height="30%">

        </div>
        <br>

        <div class="d-flex">
            <img class="centrar" src="..\assets\slide_5.jpg" width="40%" height="70%">
            <article class="iniciovision" style="width:80%; margin-left:auto ;">

                <h3>Nuestra Visión</h3>
                <p style="text-align: justify;">
                    Convertirnos en un solucionador de las necesidades de nuestros clientes a través de desarrollos
                    tecnológicos
                    que
                    generen valor, con un proceso constante de innovación, gestionado por gente apasionada, profesional,
                    comprometida y
                    responsable. Queremos ser reconocidos y preferidos como el aliado estratégico en la gestión de
                    servicios
                    y
                    soluciones de Tecnología de la Información; económicamente sólida y reconocidos por la calidad
                    humana y
                    profesional
                    de su gente.</p>

            </article>



        </div>
    </div>

</div>
</div>

