<aside class="flex-container">
    <div class="d-flex flex-wrap justify-content-between ms-3">
        <div class="card text-bg-primary mb-3">
            <div class="card-header" style="text-align: center;"><a target="_blank" href="https://www.fifa.com/fifaplus/es/tournaments/mens/worldcup/qatar2022">Qatar 2022</a></div>
            <div class="card-body">
                <iframe width="165" src="https://www.youtube.com/embed/krxKTbwrucs"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
        <div class="card text-bg-primary mb-3">
            <div class="card-header" style="text-align: center;">¿Sabias Qué?</div>
            <div class="card-body">
                <p style="text-align: center;">El primer lenguaje de programación del mundo se llamó FORTRAN</p>
            </div>
        </div>
        
        <div class="card text-bg-secondary mb-3">
            <div class="card-header" style="text-align: center;"><a href="/Testimonios">Testimonios</a></div>
            <div class="card-body">
                <iframe width="165" src="https://www.youtube.com/embed/OTvg5FPwZN4"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
    
    </div>
</aside>