<div class="container" style="margin-left: 1%; margin-top: 2%;" >
  <h3>Quienes Somos?</h3>
  <p style="width: 80%; text-align: justify ;">Somos una compañía creyente de la transformación digital con más de 22 años de 
    trayectoria a nivel nacional e internacional. Nuestro objetivo es ser proveedores
    de soluciones ágiles de tecnología, expertos en la fábrica de software a la medida,
    suministros de talento especializado in/out sourcing, infraestructura y marketing 
    digital.</p>

  </div>
 



<h4 style="text-align: center; margin-top: 1%;"><u>Nuestros Pilares</u></h4>

<div class="d-flex" style="margin-right:25% ;" >
  <div class="card" style="width: 18rem; margin-left: 18%;">
      <img src="../../../assets/Honestidad.png" class="card-img-center " alt="...">
      <div class="card-body">
        <h3>Honestidad</h3>
        <p class="card-text" style="text-align: justify;">Cada proceso realizado en Nexos Software es 
            transparente y fiel a la realidad, esto nos garantiza que cada una de las personas que hacen 
            parte de nosotros, ya sea empleado, cliente, aliado o proveedor; sentirá seguridad y confianza 
            de las soluciones que ofrecemos</p>
      </div>
    </div>
    
    <div class="card" style="width: 18rem; margin-left: 1%;">
      <img src= "../../../assets/Lealtad.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h3>Lealtad</h3>
        <p class="card-text"  style="text-align: justify;">Forjamos Nexos duraderos con nuestros empleados,
             clientes y aliados, evocando el respeto a la información y a los procesos internos de la 
             compañía. Estamos comprometidos con cada una de las personas que confían en nosotros.</p>
      </div>
    </div>

    <div class="card" style="width: 18rem; margin-left: 1%; ">
      <img src="../../../assets/Solidaridad.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h3>Solidaridad</h3>
        <p class="card-text"  style="text-align: justify;">Día a día buscamos dar un trato personalizado
            y humano a nuestros clientes, aliados y empleados, comprendiendo sus requerimientos y 
            ayudando desde pequeños actos que respalden grandes procesos.</p>
      </div>
    </div>
</div>

<div class="d-flex" style="margin-right:25%; margin-top: 2%;" >
  <div class="card" style="width: 18rem; margin-left: 18%; ">
      <img src="../../../assets/Pasion.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h3>Pasión</h3>
        <p class="card-text"  style="text-align: justify;">Amar nuestro trabajo es lo que nos hace 
            disfrutar cada proyecto que ejecutamos. Hacemos las cosas con pasión, esto nos garantiza 
            la excelencia en cada servicio ofrecido.</p>
      </div>
    </div>
    
    <div class="card" style="width: 18rem; margin-left: 1%; ">
      <img src="../../../assets/Excelencia.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h3>Excelencia</h3>
        <p class="card-text"  style="text-align: justify;">Aprender de cada lección, vivencia y 
            desarrollo, es para nosotros una oportunidad de crecer como compañía y como seres humanos. 
            Mejoramos nuestros procesos y apostamos siempre a la excelencia de los productos 
            desarrollados.</p>
      </div>
    </div>

    <div class="card" style="width: 18rem; margin-left: 1%; ">
      <img src="../../../assets/Espiritu.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h3>Espíritu de Servicio</h3>
        <p class="card-text"  style="text-align: justify;">Estamos comprometidos con lo que hacemos y 
            siempre dispuestos a ayudar en lo que nos corresponde, para que empleados, clientes y 
            aliados tengan la mejor impresión de nuestro trabajo.</p>
      </div>
      <br> <br><br><br>
    </div>

</div>
